<div class="input-container">
    <form>
        <mat-form-field appearance="outline">
            <mat-label>Cantidad</mat-label>
            <input matInput [formControl]="quantityControl" placeholder="Cantidad" type="number" required>
            <mat-error *ngIf="quantityControl.invalid">
                La cantidad debe ser mayor que cero
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>De</mat-label>
            <mat-select [(value)]="selectedValueFrom" name="food">
                <mat-option *ngFor="let crypto of dataSource" [value]="crypto.symbol">
                    {{crypto.symbol}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-icon-button aria-label="shuffle inputs" (click)="shuffleInputs($event)">
            <mat-icon aria-hidden="false" aria-label="shuffle icon">
                shuffle
            </mat-icon>
        </button>
        <mat-form-field appearance="outline">
            <mat-label>A</mat-label>
            <mat-select [(value)]="selectedValueTo" name="car">
                <mat-option *ngFor="let crypto of dataSource" [value]="crypto.symbol">
                    {{crypto.symbol}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-stroked-button color="success" (click)="calculate($event)">Convertir</button>
        <mat-form-field appearance="outline">
            <input matInput [formControl]="resultControl" placeholder="Resultado" readonly>
        </mat-form-field>
    </form>
</div>