<div class="input-container">
    <span class="exchange-header" i18n="Exchange Header|Exchange header text@@exchangeHeaderText">
        Seleccione las monedas
    </span>
    <p>{{message}}</p>
    <form>
        <mat-form-field appearance="outline">
            <mat-label><span i18n="Quantity field|Quantity field lable@@quantityInputLable">Cantidad</span></mat-label>
            <input matInput [formControl]="quantityControl"
                i18n-placeholder="Quantity field placeholder|Quantity field input placeholder@@quantityInputPlaceholder"
                placeholder="Cantidad" type="number" required>
            <mat-error *ngIf="quantityControl.invalid">
                <span i18n="Quantity field error|Quantity field error message@@quantityInputError">
                    La cantidad debe ser mayor que cero
                </span>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label><span i18n="Currency From|Currency From field lable@@currencyFromInputLable">De</span>
            </mat-label>
            <mat-select [(value)]="selectedValueFrom" name="currency1">
                <mat-option *ngFor="let crypto of currencyList" [value]="crypto.symbol">
                    {{crypto.symbol}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label><span i18n="Currency To|Currency To field lable@@currencyToInputLable">A</span></mat-label>
            <mat-select [(value)]="selectedValueTo" name="currency2">
                <mat-option *ngFor="let crypto of currencyList" [value]="crypto.symbol">
                    {{crypto.symbol}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-stroked-button color="success" (click)="calculate()">
            <span
                i18n="Currency exchange button|Currency Exchange button lable@@currencyExchangeButtonLable">Convertir</span>
        </button>
        <mat-form-field class="result" appearance="outline">
            <mat-label><span i18n="Result field|Result field lable@@resultFieldLable">Resultado</span></mat-label>
            <input matInput [formControl]="resultControl"
                i18n-placeholder="Result placeholder|Result field placeholder@@resultFieldPlaceholder"
                placeholder="Resultado" readonly>
        </mat-form-field>
    </form>
</div>
<button mat-icon-button aria-label="shuffle inputs" (click)="shuffleInputs()">
    <img class="png-icon" src="assets/exchange.png">
</button>