<mat-tab-group dynamicheight mat-align-tabs="center" [(selectedIndex)]="selectedIndex">
    <mat-tab>
        <ng-template mat-tab-label>
            <span i18n="Exchange tab| Exchange tab title@@exchangeTabLable">REALIZAR CAMBIO</span>
        </ng-template>

        <app-exchange-form [receivedId]="message" [bncApiService]="_bncApiService"></app-exchange-form>

    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span i18n="List tab| Crypto list tab title@@currencyTabLable">LISTADO DE MONEDAS</span>
        </ng-template>

        <app-currency-table (messageEvent)="receiveMessage($event)"></app-currency-table>

    </mat-tab>
</mat-tab-group>